<div id='tao-footer'>
    <div class="site-footer px-xl-3">
        <div class="container-fluid text-center text-md-left">
        <div class="row mb-4 mb-md-5">
            <div class="col-md-3 col-xl-2">
            <div class="site-footer__logo mt-1 mb-4 mx-auto mx-md-0">
                <a href="/"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 649.69 146.76" style="fill: currentColor" xml:space="preserve" class="svg-logo">
    <title>Tao Group Hospitality</title>
    <g>
        <path d="M397.11,55.06l0.02,0c10.26-3.5,15.91-11.32,15.91-22.03c0-15.36-10.22-23.82-28.77-23.82h-29.89v71.9h7.8V56.97h24.38
        l19.11,23.73l0.32,0.4h9.84l-20.62-25.43L397.11,55.06z M404.74,33.28c0,10.58-7.38,16.89-19.74,16.89h-22.83V16.14h21.84
        C397.19,16.14,404.74,22.39,404.74,33.28z"></path>
        <path d="M496.13,45.28c0-22.19-15.45-37.68-37.56-37.68c-21.97,0-37.31,15.5-37.31,37.68c0,22.11,15.34,37.56,37.31,37.56
        C480.68,82.84,496.13,67.39,496.13,45.28z M429.3,45.28c0-17.6,12.31-30.38,29.26-30.38c17.1,0,29.51,12.78,29.51,30.38
        c0,17.46-12.41,30.13-29.51,30.13C441.61,75.41,429.3,62.74,429.3,45.28z"></path>
        <path d="M560.01,51.1c0,15-8.65,24.32-22.58,24.32c-14.01,0-22.71-9.32-22.71-24.32V9.21h-7.8V51.1
        c0,19.28,11.97,31.74,30.51,31.74c18.82,0,30.51-12.16,30.51-31.74V9.21h-7.92V51.1z"></path>
        <path d="M611.33,9.21h-30.01v71.9h7.8V57.72h21.59c18.6,0,29.27-9,29.27-24.69C639.98,17.67,629.8,9.21,611.33,9.21z M631.81,33.28
        c0,11.54-7.21,17.64-20.85,17.64h-21.84V16.14h21.84C624.21,16.14,631.81,22.39,631.81,33.28z"></path>
        <path d="M308.87,50.48l0.08,6.57l25.45-0.26l-0.91,2.12c-4.83,10.63-15.05,16.98-27.34,16.98c-17.37,0-29.98-12.97-29.98-30.84
        c0-18.02,12.61-31.09,29.98-31.09c11.02,0,20.38,5.08,25.67,13.94l0.31,0.52h8.63l-0.74-1.53c-6.14-12.63-18.48-19.88-33.87-19.88
        c-22.18,0-37.68,15.64-37.68,38.04c0,22.31,15.49,37.89,37.68,37.89c17.44,0,30.87-9.34,35.94-25.04l0.08-0.31
        c0.62-1.94,1.1-4,1.42-6.14l0.19-1.23h-13.52L308.87,50.48z"></path>
        <path d="M81.05,17.42c1.01,0,1.51-0.5,0-1.01c-5.54-4.53-17.62-7.05-29.7-8.05C39.27,7.86,15.1,9.37,15.1,9.37S0,9.87,0,15.41
        c0.5,5.03,14.6,3.52,22.65,3.02c7.55-1.01,18.12-1.51,18.12-1.51s0.5,7.55,0.5,23.66c0,16.11-1.51,29.2-3.02,33.22
        c-2.01,4.53-4.53,7.05-5.54,7.05c-1.01,0,0,0.5,0,0.5s14.6,9.06,17.12-18.12c2.01-22.15-3.52-45.31-4.03-46.31
        C45.81,16.92,53.86,15.41,81.05,17.42z"></path>
        <path d="M147.5,48.13c-2.52-0.5-14.6-3.02-14.6-3.02s-1.01-1.51-1.01-2.01c-1.51-2.52-10.57-16.61-14.6-24.16
        c-4.03-7.55-10.07-21.14-11.08-18.63c0,0-8.05,22.15-13.09,38.26c-0.5,1.01-1.51,4.53-1.51,4.53c-2.01,0-12.08,0.5-17.12-0.5
        c-5.03-1.01-12.08-4.03-10.07,3.02c2.01,7.05,24.67,6.54,24.67,6.54s1.01-1.01-3.02,8.56C82.56,70.28,75.51,87.4,75.51,87.4
        s-2.52,4.53,1.01,1.51c4.53-3.52,13.59-15.61,20.64-34.23c0.5-2.01,1.01-3.02,1.01-3.02c1.01,0,26.18-0.5,26.18-0.5
        s3.02,6.04,5.03,11.58c1.51,5.03,1.51,9.56,4.53,8.05c3.02-1.51,5.54-6.54,1.01-19.63v-0.5c0,0,7.55,1.01,10.57,0
        C147.5,50.65,150.01,49.14,147.5,48.13z M101.69,43.1c-0.5,0-1.01,0-1.01,0l7.55-28.69c0,0,0,0,1.01,2.01
        c0,0,7.05,19.13,12.58,27.69C120.31,44.1,103.7,42.59,101.69,43.1z"></path>
        <path d="M214.95,17.42c-8.56-8.05-22.15-13.09-38.76-7.05c-0.5,0.5-0.5,0.5,0,0.5c16.11-1.51,24.16,2.52,32.72,10.07
        c6.54,6.54,11.08,17.12,10.07,27.18c-1.01,12.59-8.05,23.66-23.16,26.68c-21.14,2.52-32.22-10.57-33.73-24.67
        c-1.01-10.57,3.02-21.65,11.07-26.68c6.54-4.53,3.02-7.55,3.02-7.55s-3.52-3.02-11.58,5.03c-8.05,7.05-11.58,18.63-10.07,30.2
        c2.01,17.62,16.11,33.73,43.29,30.71c21.14-4.03,28.69-19.13,29.2-34.23C227.54,35.04,222.51,24.47,214.95,17.42z"></path>
        <polygon points="165.46,132.33 152.98,132.33 152.98,121.78 149,121.78 149,146.21 152.98,146.21 152.98,136.06 165.46,136.06
        165.46,146.21 169.48,146.21 169.48,121.78 165.46,121.78 	"></polygon>
        <path d="M199.3,121.27c-7.3,0-12.4,5.25-12.4,12.76c0,7.37,5.21,12.73,12.4,12.73c7.23,0,12.48-5.35,12.48-12.73
        C211.78,126.52,206.64,121.27,199.3,121.27z M207.72,134.03c0,5.18-3.46,8.8-8.42,8.8c-4.83,0-8.34-3.7-8.34-8.8
        c0-5.14,3.51-8.88,8.34-8.88C204.26,125.16,207.72,128.81,207.72,134.03z"></path>
        <path d="M237.62,131.71c-4.93-1.37-5.79-2.25-5.79-3.58c0-2.22,2.54-3.01,4.91-3.01c4.03,0,6.31,1.82,6.33,1.83l0.36,0.29
        l2.17-3.35l-0.26-0.24c-0.11-0.1-2.73-2.39-8.6-2.39c-5.69,0-9.08,2.58-9.08,6.9c0,4.16,3.06,5.86,8.35,7.4
        c4.96,1.43,5.79,2.39,5.79,4.01c0,2.75-2.8,3.33-5.14,3.33c-4.17,0-6.64-2.16-6.66-2.18l-0.34-0.3l-2.2,3.09l0.23,0.24
        c0.12,0.12,2.93,3,9.01,3c5.83,0,9.31-2.73,9.31-7.3C246.02,135.57,243.66,133.4,237.62,131.71z"></path>
        <path d="M273.49,121.78h-10.12v24.43h3.98v-7.44h5.95c6.19,0,9.89-3.23,9.89-8.63C283.19,124.83,279.65,121.78,273.49,121.78z
        M279.09,130.22c0,3.2-1.92,4.82-5.72,4.82h-6.03v-9.49h6.03C275.51,125.55,279.09,126.16,279.09,130.22z"></path>
        <rect x="300.15" y="121.78" width="3.98" height="24.43"></rect>
        <polygon points="320.58,125.55 328.56,125.55 328.56,146.21 332.54,146.21 332.54,125.55 340.56,125.55 340.56,121.78
        320.58,121.78 	"></polygon>
        <path d="M362.96,121.78l-11.89,24.43h4.5l1.89-3.86h12.17l1.89,3.86h4.54l-11.93-24.43H362.96z M367.81,138.66h-8.53l4.25-9.52
        L367.81,138.66z"></path>
        <polygon points="395.59,121.78 391.61,121.78 391.61,146.21 408.81,146.21 408.81,142.44 395.59,142.44 	"></polygon>
        <rect x="425.15" y="121.78" width="3.98" height="24.43"></rect>
        <polygon points="445.59,125.55 453.57,125.55 453.57,146.21 457.55,146.21 457.55,125.55 465.57,125.55 465.57,121.78
        445.59,121.78 	"></polygon>
        <polygon points="490.28,132.01 489.85,132.92 489.42,131.97 483.25,121.78 478.59,121.78 487.77,136.9 487.77,146.21
        491.79,146.21 491.79,136.86 501.02,121.78 496.39,121.78 	"></polygon>
    </g>
    </svg></a>
            </div>
            </div>
            <div class="col-md-6 offset-xl-1">
                        <div class="d-flex flex-column flex-md-row flex-wrap pl-md-4 pl-xl-0 mb-0 site-footer__menus">
                <ul class="list-unstyled flex-grow-1 mb-0">
                                    <li>
                    <a href="https://taogroup.com/venues/">
                        Venues                    </a>
                    </li>
                                    <li>
                    <a href="https://taogroup.com/reservations/">
                        Reservations                    </a>
                    </li>
                                    <li>
                    <a href="https://taogroup.com/about/">
                        About                    </a>
                    </li>
                                    <li>
                    <a href="https://taogroup.com/news/">
                        News                    </a>
                    </li>
                                </ul>
                <ul class="list-unstyled flex-grow-1">
                                    <li>
                    <a href="https://taogroup.com/careers/">
                        Careers                    </a>
                    </li>
                                    <li>
                    <a href="https://taogroup.com/special-events/">
                        Special Events                    </a>
                    </li>
                                    <li>
                    <a href="https://taogroup.com/gift-cards/">
                        Gift Cards                    </a>
                    </li>
                                    <li>
                    <a href="https://taogroup.com/contact/">
                        Contact                    </a>
                    </li>
                                </ul>
            </div>
            </div>
            <div class="col-md-3 text-md-right mt-4 mt-md-0">
            <div class="site-footer__social">
                <a href="https://instagram.com/taogrouphospitality" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>Instagram</title><g fill="currentColor"><circle fill="currentColor" cx="12.145" cy="3.892" r="0.96"></circle> <path data-color="color-2" d="M8,12c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S10.206,12,8,12z M8,6C6.897,6,6,6.897,6,8 s0.897,2,2,2s2-0.897,2-2S9.103,6,8,6z"></path> <path fill="currentColor" d="M12,16H4c-2.056,0-4-1.944-4-4V4c0-2.056,1.944-4,4-4h8c2.056,0,4,1.944,4,4v8C16,14.056,14.056,16,12,16z M4,2C3.065,2,2,3.065,2,4v8c0,0.953,1.047,2,2,2h8c0.935,0,2-1.065,2-2V4c0-0.935-1.065-2-2-2H4z"></path></g></svg>  </a>
    <a href="https://www.youtube.com/channel/UCsNKCi7nvKTX7yFIl7WfnAA" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>Youtube</title><g fill="currentColor"><path fill="currentColor" d="M15.8,4.8c-0.2-1.3-0.8-2.2-2.2-2.4C11.4,2,8,2,8,2S4.6,2,2.4,2.4C1,2.6,0.3,3.5,0.2,4.8C0,6.1,0,8,0,8 s0,1.9,0.2,3.2c0.2,1.3,0.8,2.2,2.2,2.4C4.6,14,8,14,8,14s3.4,0,5.6-0.4c1.4-0.3,2-1.1,2.2-2.4C16,9.9,16,8,16,8S16,6.1,15.8,4.8z M6,11V5l5,3L6,11z"></path></g></svg>  </a>
    <a href="https://taogroup.com/sign-up" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>Newsletter</title><g fill="currentColor"><path fill="currentColor" d="M16,0l-4,14.7L6.6,9.8l5.2-5.5l-7,4.8L0,8L16,0z M6,11.1V16l2.2-3L6,11.1z"></path></g></svg>  </a>
            </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <p class="mb-0 copyright"><span>Copyright © 2022 Tao Group Hospitality. All Rights Reserved.</span></p>
                    <ul class="list-unstyled footer-links d-flex justify-content-center justify-content-md-start mt-1">
                            <li class="mr-2">
                <a href="https://taogroup.com/privacy-policy/">
                    Privacy                </a>
                </li>
                            <li class="mr-2">
                <a href="https://taogroup.com/terms-conditions/">
                    Terms                </a>
                </li>
                            <li class="mr-2">
                <a href="https://taogroup.com/privacy-policy/#adchoices">
                    Ads                </a>
                </li>
                            <li class="mr-2">
                <a href="https://taogroup.com/diversity-statement/">
                    Diversity                </a>
                </li>
                            <li class="mr-2">
                <a href="https://taogroup.com/uk-tax-strategy/">
                    UK Tax Policy                </a>
                </li>
                        <li>
                <a data-acsb-custom-trigger="true" tabindex="0" role="button">Accessibility</a>
            </li>
            </ul>
        </div>
        </div>
    </div>
</div>
<% @brand = 'taogroup' %>